*{
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
} 
    
.container {
    background-color: burlywood;
    height: 100%;
    padding: 5px;
    margin: 0px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 4fr 2fr 50px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "w w w w w w w w w w w w"
        "f f f f f f f f f f f f";
}

.container > div {
    color: white;
    padding: 10px;
}

.header {
    background-color:cornflowerblue;
    grid-area: h;
}

.main {
    background-color: lightgreen;
    grid-area: m;
}

.widget-area {
    background-color: plum;
    grid-area: w;
}

.footer {
    background-color: blue;
    grid-area: f;
}

/* MEDIA QUERIES */

@media (min-width: 1024px) {
    .container {
        grid-template-areas: 
            "h h h h m m m m m m m m"
            "h h h h m m m m m m m m"
            "h h h h w w w w w w w w"
            "h h h h f f f f f f f f";
}

@media (min-width: 1440px) {
    .container {
        grid-template-areas: 
            "h h h m m m m m m w w w"
            "h h h m m m m m m w w w"
            "h h h m m m m m m w w w"
            "h h h f f f f f f w w w";
}